/* spacing */

html {
    font-family: 'Silkscreen', sans-serif;
}

.title {
    font-size: 50px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
    float: center;
}

.subtitle {
    font-size: 30px;
    text-align: left;
    margin-top: 50px;
    margin-left: 100px;
    float: center;
}

#logout-link {
    text-align: center;
    margin-right: 100px;
    margin-top: 100px;
    position: absolute;
    top: 0;
    right: 0;
}

thead th,
tfoot th,
h1, 
h2, 
legend {
    font-family: "Silkscreen", cursive;
}

th {
    letter-spacing: 2px;
}

td {
    letter-spacing: 1px;
}

tbody td {
    text-align: center;
}

thead th {
    text-align: center;
}

tfoot th {
    text-align: right;
}

.table-scrollable {
    overflow-x: auto;
}

table {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid whitesmoke;
    margin: 50px auto;
}

.forms {
    width: 90%;
    margin: 50px auto;
    overflow: hidden;
    border-collapse: collapse;
}

.form-div {
    table-layout: fixed;
    width: 90%;
    border-collapse: collapse;
    border: 3px solid whitesmoke;
    margin: 50px auto;
    height: 500px;
    position: relative;
}

.submit-form {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    width: 90%;
}

.submit-form-btn {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    /* width: 90%; */
    /* float: right; */
    position: absolute;
    bottom: 0;
    right: 0;
}

#player-form-div {
    margin-right: 50px auto;
    width: 50%;
    float: right;
}

#match-form-div {
    margin-left: 50px auto;
    width: 50%;
    float: left;
}
.CellWithComment{
    position:relative;
  }
  
  .CellComment{
    display:none;
    position:absolute; 
    z-index:100;
    border:1px;
    background-color:white;
    border-style:solid;
    border-width:1px;
    border-color:red;
    padding:3px;
    color:red; 
    top:20px; 
    left:20px;
  }
  
  .CellWithComment:hover span.CellComment{
    display:block;
  }
th,
td {
    padding: 5px;
}

tbody tr:nth-child(odd) {
  background-color: white;
}

tbody tr:nth-child(even) {
  background-color: whitesmoke;
}

table {
  background-color: white;
}