<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PongBoard Login</title>
    </head>

    <body>
        {% if form.errors %}
            <p>Your username and password didn't match. Please try again.</p>
        {% endif %}
        
        <form id="login-form" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            
            <div>
                <td>{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </div>
            <div>
                <td>{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </div>
            
            <div>
                <input type="submit" value="login" />
            </div>
        </form>
    </body>