<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PongBoard</title>
    </head>

    <body>
        <h1>PongBoard</h1>

        {% if user.is_authenticated %}
            <a id='logout-link' href="{% url 'logout' %}">Logout</a>
            <form id="player-form" action="/" method="POST">
                <fieldset>
                    <legend>Add player:</legend>
                    {% csrf_token %}
                    {{ player_form.as_p }}
                    <input type="submit" value="Add Player">
                </fieldset>
            </form>

            <form id="match-form" action="/" method="POST">
                <fieldset>
                    <legend>Submit match:</legend>
                    {% csrf_token %}
                    {{ match_form.as_p }}
                    <input type="submit" value="Submit Match">
                </fieldset>
            </form>
        {% else %}
            <a id='login-link' href="{% url 'login' %}">Login</a>
        {% endif %}

        <table id="leaderboard">
            <tr>
                <th>Rank</th>
                <th>Name</th>
                <th>Rating</th>
                <th>GP</th>
                <th>W</th>
                <th>L</th>
                <th>PPG</th>
                <th>Diff</th>
            </tr>
            {% for ranking in leaderboard %}
                <tr id='player-ranking'>
                    <td>{{ forloop.counter }}</td>
                    <td>{{ ranking.player.full_name }}</td>
                    <td>{{ ranking.rating }}</td>
                    <td>{{ ranking.games_played }}</td>
                    <td>{{ ranking.wins }}</td>
                    <td>{{ ranking.losses }}</td>
                    <td>{{ ranking.points_per_game|floatformat }}</td>
                    <td>{{ ranking.point_differential }}</td>
                </tr>
            {% endfor %}
        </table>

        <ul id="recent-matches" list-style-type="none">
            {% for match in recent_matches %}
                <li>{{ match.description }}</li>
            {% endfor %}
        </table>

    </body>