<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PongBoard</title>
    </head>

    <body>
        <h1>PongBoard</h1>

        <form id="match-form" action="/" method="POST">
            <fieldset>
                <legend>Submit match:</legend>
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit Match">
            </fieldset>
        </form>

        <table id="leaderboard">
            <tr>
                <th>Rank</th>
                <th>Name</th>
            </tr>
        </table>

        <ul id="recent-matches" list-style-type="none">
            {% for match in recent_matches %}
                <li>{{ match.description }}</li>
            {% endfor %}
        </table>

    </body>