<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>PongBoard</title>
    </head>

    <body>
        <h1>PongBoard</h1>

        <table id="leaderboard">
            <tr>
                <th>Rank</th>
                <th>Name</th>
            </tr>
        </table>

        <table id="recent-matches">
            {% for match in recent_matches %}
                <tr>
                    <td>{{ match.description }}</td>
                </tr>
            {% endfor %}
        </table>

    </body>